{% extends 'base/base1.html' %}
{% load static %}
{% block title %}Take Attendance{% endblock title %}

{% block main %}

<div class="container">

    <div class="wrapper rounded bg-white">
        <div class="h1 mb-5">Students</div>
        <form class="form"  enctype="multipart/form-data" method="post">
            <div class="form-group">

                {% csrf_token %}
                {% include 'include/massage.html' %}
                <div class="row">
                {% for S in student %}
                
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-md-0 mt-3">                          
                        <div class="form-check form-switch form-check-reverse h6">
                            <input class="form-check-input text-center mx-auto" type="checkbox" name="{{S.student_id.id}}" value="True" role="switch" id="toggleBtn{{S.student_id.id}}" {% if S.status %}checked{% endif %}>
                            <label class="form-check-label text-left h5 text-capitalize" for="toggleBtn{{S.student_id.id}}">{{S.student_id.name}}&ensp;-&ensp;{{S.student_id.reg_id|slice:"-4:"}}</label>
                        </div>
                    </div>    
                {% endfor %}
                    
                </div>    
                
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-primary mt-3 btn-block btn-lg gradient-custom-4 ">Sumbit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}