{% extends 'base/base1.html' %}
{% load static %}
{% block title %}Add Subject{% endblock title %}

{% block main %}

<div class="container">

    <div class="wrapper rounded bg-white">
        <div class="h3">New Subject</div>
        <form class="form"  enctype="multipart/form-data" method="post">
            <div class="form-group">

                {% csrf_token %}
                {% include 'include/massage.html' %}
                <div class="col-md-12 col-lg-12 col-xl-12 d-flex px-auto">
                    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                    
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-0 mt-3">
                        <label for="Name">New Subject Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="{{ Name }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label for="Major">Major</label>
                        <select id="Major" name="Major" required>
                            {% for D in Dept %}
                            <option value="{{D}}" {% if D == department %} selected {% endif %}>{{D}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        <label for="Semester">Semester</label>
                        <select id="Semester" name="Semester" required>
                            {% for S in Sem %}
                            <option value="{{S}}" {% if S == semester %} selected {% endif %}>{{S}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center ">
                    <input type="hidden" name="mode" value="New">
                    <button type="submit" class="btn btn-primary mt-3 btn-block btn-lg gradient-custom-4 ">ADD</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}